# --- Database & Security ---
patients_data.txt
admin_config.txt
security.bin

# --- Executables & Build Files ---
*.exe
app
*.o

# --- Python Cache ---
__pycache__/
*.pyc

# --- OS Junk ---
.DS_Store
Thumbs.db